<html lang="ja">
    <head>
        <script type="text/javascript" src="static/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="static/index.css" rel="stylesheet">
    </head>
    <body>
        <h1>
            <span id="e">E</span>
            <span id="q">q</span>
            <span id="i">i</span>
            <span id="t1">t</span>
            <span id="t2">t</span>
            <span id="i2">i</span>
            <span id="r">r</span>
        </h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button
                class="nav-link active"
                id="nav-look-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-look"
                type="button"
                role="tab"
                aria-controls="nav-look"
                aria-selected="true"
                >
                辞書を見る
                </button>
                <button
                class="nav-link"
                id="nav-register-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-register"
                type="button"
                role="tab"
                aria-controls="nav-register"
                aria-selected="false"
                >
                辞書に登録する
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div
            class="tab-pane fade show active"
            id="nav-look"
            role="tabpanel"
            aria-labelledby="nav-look-tab"
            >
                <input id="text" type= "text">
                <button id="button">検索</button>
                <br>
                <div id="add"></div>
                <br>
                <table>
                    <thead>
                        <th>Word</th>
                        <th>Pronounce</th>
                        <th>Mean</th>
                        <th>Example</th>
                    </thead>
                    <tbody>
                    {% for key, value in words.items()%}
                        <tr>
                            {% for word in value%}
                            <td>{{key}}</td>
                            <td>{{word.pronounce}}</td>
                            <td>{{word.mean}}</td>
                            <td>{{word.example}}</td>
                            </tr>
                            {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div
            class="tab-pane fade"
            id="nav-register"
            role="tabpanel"
            aria-labelledby="nav-register-tab"
            >
                <form action="/register" method="post">
                    <div class="form-group">
                        <input autocomplete="off"  name="word" placeholder="Word" type="text" required>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off"  name="pronounce" placeholder="ふりがな" type="text">
                    </div>
                    <div class="form-group">
                        <input name="mean" placeholder="意味" type="text" required>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" name="example" placeholder="例文" type="text">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" name="category" placeholder="品詞" type="text">
                    </div>
                    <button type="submit">登録</button>
                </form>
                <p>{{message}}</p>
            </div>
        </div>
    </body>
</html>