<html lang="ja">
    <head>
        <link href="../static/index.css" rel="stylesheet">
    </head>

    <body>
    <h1>
        <span id="e">E</span>
        <span id="q">q</span>
        <span id="i">i</span>
        <span id="t1">t</span>
        <span id="t2">t</span>
        <span id="i2">i</span>
        <span id="r">r</span>
    </h1>
    <h2> {{one }}</h2>
    <table>
        <thead>
            <th>Pronounce</th>
            <th>Mean</th>
            <th>Example</th>
        </thead>
        <tbody>
        {% for word1 in words%}
            <tr>
                <td>{{word1.pronounce}}</td>
                <td>{{word1.mean}}</td>
                <td>{{word1.example}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
</html>